<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/teacher_dashboard.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Welcome, {{ teacher_name }}</h1>
      <a href="{{ url_for('auth_routes.logout') }}">
        <button class="btn logout-btn">Logout</button>
      </a>
    </header>

    <main>
      <div class="dashboard">
        <div class="dashboard-item">
          <a href="{{ url_for('teacher.record_attendance') }}">
            <button class="btn">Record Attendance</button>
          </a>
        </div>
        <div class="dashboard-item">
          <a href="{{ url_for('teacher.view_attendance') }}">
            <button class="btn">View Attendance</button>
          </a>
        </div>
        <div class="dashboard-item">
          <a href="{{ url_for('teacher.grade_assessment') }}">
            <button class="btn">Grade Assessment</button>
          </a>
        </div>
        <div class="dashboard-item">
          <a href="{{ url_for('teacher.view_grades') }}">
            <button class="btn">View Grades</button>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
